<div class="sidenavContainer"
     [ngClass]="{'expanded': sideNavState}"
     (mouseenter)="onSinenavToggle()"
     (mouseleave)="onSinenavToggle()"
     [@onSideNavChange]="sideNavState ? 'open' : 'close'">

  <mat-nav-list *ngIf="!showFiller">

    <!-- Recorre los elementos del menú -->
    <div class="parent" *ngFor="let item of menuItems">

      <!-- Verifica si el ítem requiere rol de administrador o si el usuario tiene rol de administrador -->
      <ng-container *ngIf="!item.requiresAdmin || tieneRol(['Administrador'])">

        <!-- Ítem principal del menú -->
        <mat-list-item
          (click)="navigate(item); activarItem(item)"
          class="parent"
          [class.activo]="item.activo">

          <mat-icon>{{ item.icon ? item.icon : 'gavel' }}</mat-icon>

          <span class="full-width"
                *ngIf="isExpanded || isShowing"
                [ngClass]="{'active': item.activo}"
                (click)="navigate(item)"
                [@animateText]="linkText ? 'show' : 'hide'"
                [@animateTextTraslate]="linkText ? 'in' : 'void'">
            {{ capitalize(item.nombre) }}
          </span>

          <mat-icon
            class="menu-button"
            [ngClass]="{'rotated': item.activo}"
            *ngIf="item.subMenu && item.subMenu.length != 0"
            [@animateText]="linkText ? 'show' : 'hide'">
            expand_more
          </mat-icon>

        </mat-list-item>

        <!-- Submenú, solo visible cuando expandido y activo -->
        <div class="submenu"
             [ngClass]="{'expanded': item.activo && sideNavState}"
             *ngIf="item.subMenu && item.subMenu.length > 0 && (item.activo && sideNavState)">

          <!-- Recorre los subítems del menú -->
          <div *ngFor="let subItem of item.subMenu">

            <!-- Verifica si el subítem requiere rol de administrador o si el usuario tiene rol de administrador -->
            <ng-container *ngIf="!subItem.requiresAdmin || tieneRol(['Administrador'])">

              <mat-list-item
                *ngIf="item.activo"
                [class.subMenuActivo]="subItem.activo && subItem.subMenu && subItem.subMenu.length"
                (click)="navigate(subItem); activarSubItem(subItem)">

                <span class="full-width">
                  {{ capitalize(subItem.nombre) }}
                </span>

                <mat-icon
                  class="menu-button"
                  [ngClass]="{'rotated': subItem.activo}"
                  *ngIf="subItem.subMenu && subItem.subMenu.length != 0"
                  [@animateText]="linkText ? 'show' : 'hide'">
                  expand_more
                </mat-icon>

              </mat-list-item>

              <!-- Sub-submenú solo visible cuando corresponde -->
              <div class="subSubMenu submenu"
                   [ngClass]="{'expanded': subItem.activo && sideNavState}"
                   *ngIf="subItem.subMenu && subItem.subMenu.length > 0 && subItem.activo && sideNavState">

                <div *ngFor="let subSubItem of subItem.subMenu"
                     [@animateSubText]="linkText ? 'show' : 'hide'">

                  <!-- Verifica si el sub-subítem requiere rol de administrador o si el usuario tiene rol de administrador -->
                  <ng-container *ngIf="!subSubItem.requiresAdmin || tieneRol(['Administrador'])">

                    <!-- Ítem del sub-submenú -->
                    <mat-list-item
                      *ngIf="subItem.activo && item.activo"
                      (click)="navigate(subSubItem)">

                      <span class="full-width">
                        {{ capitalize(subSubItem.nombre) }}
                      </span>

                    </mat-list-item>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-nav-list>
</div>
