<div class="custom-dialo-calido" [class.dark-mode]="darkMode">
  <div class="container py-3 col-xl-11">
    <br>
    <div class="row">
      <div class="col-8 mt-2">
        <p class="titulo">{{esAnulacion ? 'Anular venta' : 'Consultar venta'}}</p>
        <p *ngIf="venta.anulada">Venta anulada</p>
      </div>
      <div class="col-4">
        <div class="row justify-content-start justify-content-sm-end" style="margin-right: 15px">
          <button
            *ngIf="venta.comprobanteAfip.comprobante_pdf_url != null"
            mat-icon-button color="primary"
            matTooltip="Imprimir comprobante"
            (click)="imprimirComprobante()"
            [appRole]="['Administrador', 'Encargado', 'Cajero']">
            <mat-icon class="imprimir">print</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <br>

    <h3 class="subtitulo">Datos generales:</h3>
    <mat-divider class="my-3"></mat-divider>
    <br>

    <form [formGroup]="form">
      <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número de venta</mat-label>
            <input type="text" matInput [formControl]="txNumeroVenta"/>
          </mat-form-field>
          <app-error-messages [control]="txNumeroVenta"></app-error-messages>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de venta</mat-label>
            <input type="text" matInput [formControl]="txFecha"/>
          </mat-form-field>
          <app-error-messages [control]="txFecha"></app-error-messages>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Forma de pago</mat-label>
            <input type="text" matInput [formControl]="txFormaDePago"/>
          </mat-form-field>
          <app-error-messages [control]="txFormaDePago"></app-error-messages>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de factura</mat-label>
            <input type="text" matInput [formControl]="txTipoFactura"/>
          </mat-form-field>
          <app-error-messages [control]="txTipoFactura"></app-error-messages>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto total</mat-label>
            <input type="text" matInput [formControl]="txMontoTotal" mask="separator.2" prefix="$ " thousandSeparator=","/>
          </mat-form-field>
          <app-error-messages [control]="txMontoTotal"></app-error-messages>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" *ngIf="venta.interes">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Interés por tarjeta</mat-label>
            <input type="text" matInput [formControl]="txInteres" mask="separator.2" prefix="% " thousandSeparator=","/>
          </mat-form-field>
          <app-error-messages [control]="txInteres"></app-error-messages>
        </div>
      </div>

      <br>
      <h3 class="subtitulo">Cliente:</h3>
      <mat-divider class="my-3"></mat-divider>
      <br>

      <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cliente</mat-label>
            <input type="text" matInput [formControl]="txCliente"/>
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="this.venta.cliente.id != -1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dni</mat-label>
            <input type="text" matInput [formControl]="txDniCliente"/>
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="this.venta.cliente.id != -1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mail</mat-label>
            <input type="text" matInput [formControl]="txMailCliente"/>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="esAnulacion && (this.venta.formaDePago.id == this.formasDePagoEnum.CUENTA_CORRIENTE)">
        <br>
        <h3 class="subtitulo">Cuenta corriente:</h3>
        <span class="aviso-producto">Esta es la cuenta corriente del cliente al cual anularás la venta.</span>
        <mat-divider class="my-3"></mat-divider>
        <div class="row pt-4">
          <div class="col-md-9">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cuenta Corriente</mat-label>
              <mat-select [formControl]="txCuenta">
                <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.usuario.id">
                  {{ '(' + cuenta.id + ') ' + cuenta.usuario.nombre + ' ' + cuenta.usuario.apellido }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-error-messages [control]="txCuenta"></app-error-messages>
          </div>
        </div>
      </div>


      <br>
      <h3 class="subtitulo">Productos vendidos:</h3>
      <span class="aviso-producto" *ngIf="esAnulacion">Selecciona aquellos productos y la cantidad que el cliente desea devolver.</span>
      <mat-divider class="my-3"></mat-divider>

      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
                <ng-container matColumnDef="seleccionar" *ngIf="esAnulacion">
                  <mat-header-cell *matHeaderCellDef>SELECCIÓN</mat-header-cell>
                  <mat-cell *matCellDef="let producto" data-label="Seleccionar">
                    <mat-checkbox *ngIf="esAnulacion" (change)="seleccionarProductoParaAnular(producto, $event.checked)" [checked]="producto.anulado"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="imgProducto">
                  <mat-header-cell *matHeaderCellDef>IMAGEN</mat-header-cell>
                  <mat-cell *matCellDef="let producto">
                    <img [src]="producto.imgProducto" class="img-thumbnail"/>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>PRODUCTO</mat-header-cell>
                  <mat-cell *matCellDef="let producto" data-label="Producto">{{ producto.nombre }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantidadSeleccionada">
                  <mat-header-cell *matHeaderCellDef class="text-center justify-content-center">CANTIDAD</mat-header-cell>
                  <mat-cell *matCellDef="let producto" data-label="Cantidad" class="justify-content-center">
                    <div class="d-flex align-items-center col-4 justify-content-center">
                      <button class="btn btn-light btn-sm" (click)="disminuirCantidad(producto)" [disabled]="!(producto.anulado) || (producto.cantidadAnulada == 1)">-</button>
                      <input
                        type="text"
                        [matTooltip]="producto.anulado ? 'Cantidad original: ' + producto.cantidadSeleccionada : ''"
                        disabled
                        class="form-control form-control-sm mx-2 text-center quantity-input"
                        [value]="producto.anulado ? producto.cantidadAnulada : producto.cantidadSeleccionada">
                      <button class="btn btn-light btn-sm" (click)="aumentarCantidad(producto)" [disabled]="!(producto.anulado) || (producto.cantidadAnulada == producto.cantidadSeleccionada)">+</button>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subTotalVenta">
                  <mat-header-cell *matHeaderCellDef>SUBTOTAL</mat-header-cell>
                  <mat-cell *matCellDef="let producto" data-label="subTotal">$ {{ producto.subTotalVenta | number:'1.2-2':'es-AR' }}</mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="esAnulacion ? columnasAnulacion : columnas"></mat-header-row>
                <mat-row class="queue-row" *matRowDef="let row; columns: esAnulacion ? columnasAnulacion : columnas" [ngClass]="{'anulada-row': row.anulado}"></mat-row>

              </mat-table>

              <mat-paginator
                [length]="this.venta.productos.length"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <h5 *ngIf="(this.venta.totalAnulado > 0)" class="mt-4 aviso-total-anulado">
        Total a ser anulado: <b>$ {{ this.venta.totalAnulado | number:'1.2-2':'es-AR' }}</b>
      </h5>

      <h5 *ngIf="!(this.venta.productos.length > 0)" class="alert alert-secondary text-center">
        No se encuentran productos de la venta para mostrar, por favor realice una nueva búsqueda.
      </h5>

      <mat-divider class="my-3"></mat-divider>

      <div class="row text-right">
        <div class="col d-flex justify-content-end">
          <button mat-button color="accent" class="btn round" (click)="cerrar()" id="btnLimpiarFiltro">
            Cerrar
          </button>
          <button *ngIf="esAnulacion" mat-raised-button color="accent" class="btn round" (click)="anularVenta()" id="btnBuscar">Anular</button>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>
