h2 {
  font-size: 18px;
  font-weight: lighter;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

.mayorAlDiaAnterior {
  color: green;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: lighter;
}
