h2 {
  font-size: 16px;
  font-weight: lighter;
  color: #5c5c5c;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

img {
  width: 20px;
  height: 20px;
}

.mayorAlDiaAnterior {
  color: green;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: lighter;
}
