mat-card {
  border-radius: 8px;
  padding: 10px 15px;
  color: #494949;
  height: 250px;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: var(--color-text-title);
}

h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: var(--color-text-title);
}

.currency-symbol {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-text-title);
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.color-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.today {
  background-color: #e15b35;
}

.yesterday {
  background-color: #979797;
}

canvas {
  height: auto !important;
  width: 100% !important;
}
