<mat-card>
  <div class="col p-1">
    <div class="row">
      <h2>Últimas ordenes de compras</h2>
    </div>

    <div class="spinner-wrapper" *ngIf="buscando">
      <mat-spinner></mat-spinner>
    </div>

    <div class="ordenes-list-container" *ngIf="clientes">
      <div *ngFor="let cliente of clientes">
        <div class="orden-item">
          <div class="icon-container">
            <mat-icon>receipt</mat-icon>
          </div>
          <div class="details">
            <div class="name">{{ cliente.nombre + ' ' + cliente.apellido }}</div>
            <div class="subtitle">{{ cliente.mail }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

