<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Consultar proveedores</p>
        <button mat-stroked-button color="warn" class="btn round mb-3" (click)="registrarNuevoProveedor()">Registrar nuevo proveedor</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput [formControl]="txNombre"/>
          </mat-form-field>
          <!--
          <caja-control-messages [control]="txCodigo"></caja-control-messages>
          -->
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>

  </mat-card>

  <br>


  <mat-card-header class="header-card">
    <h2 style="color: grey">Proveedores encontrados</h2>
  </mat-card-header>

  <mat-card *ngIf="proveedores.length > 0">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort>
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef>NOMBRE</mat-header-cell>
              <mat-cell *matCellDef="let proveedor" data-label="Nombre">{{ proveedor.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <mat-header-cell *matHeaderCellDef>TIPO</mat-header-cell>
              <mat-cell *matCellDef="let proveedor" data-label="Nombre">{{ proveedor.tipoProveedor.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefono">
              <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
              <mat-cell *matCellDef="let proveedor" data-label="Teléfono">{{ proveedor.telefono }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mail">
              <mat-header-cell *matHeaderCellDef>MAIL</mat-header-cell>
              <mat-cell *matCellDef="let proveedor" data-label="Mail">{{ proveedor.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let proveedor" data-label="Acciones">
                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verProveedor(proveedor, false)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verProveedor(proveedor, true)">
                  <mat-icon class="editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Eliminar" (click)="eliminarProveedor(proveedor.id)">
                  <mat-icon class="eliminar">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

          </mat-table>

          <h6 *ngIf="!this.proveedores.length" class="alert alert-secondary text-center">
            No se encuentran proveedores para mostrar, realice una nueva búsqueda.
          </h6>

          <mat-paginator *ngIf="this.proveedores.length > 0"
                         [length]="this.proveedores.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


