.editable-cell {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.2);
  border-radius: 5px;
  padding: 10px;

  .full-width-input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    background: transparent;
    font-size: 1rem;
    color: inherit;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}


.disabled-table {
  pointer-events: none;
  opacity: 0.6;
}

/* Responsive particular por tamaño de tabla */
.form-emergente {
  min-width: 525px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
  overflow-y: auto;  /* Habilita la barra de desplazamiento vertical */
}

.mat-card {
  min-width: 525px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}
