<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
      <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
              <p class="titulo">Detalle de Ventas</p>
          </div>
      </div>

      <mat-divider></mat-divider>

      <br>
      <h4 style="color: grey">Filtros de búsqueda</h4>

      <form [formGroup]="form">
          <div class="row pt-4">
              <div class="col-md-3">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Fecha Desde</mat-label>
                      <input matInput [matDatepicker]="pickerDesde" [formControl]="txFechaDesde" />
                      <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDesde></mat-datepicker>
                  </mat-form-field>
              </div>

              <div class="col-md-3">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Fecha Hasta</mat-label>
                      <input matInput [matDatepicker]="pickerHasta" [formControl]="txFechaHasta" />
                      <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                      <mat-datepicker #pickerHasta></mat-datepicker>
                  </mat-form-field>
              </div>
          </div>
      </form>

      <!-- Botones de buscar y limpiar -->
      <div class="row text-right">
          <div class="col d-flex justify-content-end">
              <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
                  <mat-icon>autorenew</mat-icon>
                  Limpiar
              </button>
              <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
          </div>
      </div>

  </mat-card>

  <br>

  <mat-card-header class="header-card">
      <h2 style="color: grey">Detalles de ventas encontrados</h2>
  </mat-card-header>

  <!-- Loading Spinner -->
  <div class="spinner-wrapper" *ngIf="ventas.length == 0">
      <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngIf="ventas.length > 0">
      <mat-card-content>
          <div class="row">
              <div class="col-md-12">
                  <mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows>

                      <!-- Número de Pedido -->
                      <ng-container matColumnDef="idVenta">
                          <mat-header-cell *matHeaderCellDef> NÚMERO DE VENTA </mat-header-cell>
                          <mat-cell *matCellDef="let venta"> {{ venta.id }} </mat-cell>
                      </ng-container>

                      <!-- Fecha de Emisión -->
                      <ng-container matColumnDef="fechaVenta">
                          <mat-header-cell *matHeaderCellDef> FECHA DE VENTA </mat-header-cell>
                          <mat-cell *matCellDef="let venta"> {{ venta.fecha | date: 'dd/MM/yyyy' }} </mat-cell>
                      </ng-container>

                      <!-- Total -->
                      <ng-container matColumnDef="total">
                          <mat-header-cell *matHeaderCellDef> TOTAL </mat-header-cell>
                          <mat-cell *matCellDef="let venta"> ${{ venta.montoTotal | number:'1.2-2':'es-AR' }} </mat-cell>
                      </ng-container>

                      <!-- Botón para expandir detalles -->
                      <ng-container matColumnDef="expand">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let venta">
                              <button mat-icon-button (click)="toggleRow(venta)">
                                  <mat-icon>{{ expandedElement === venta ? 'expand_less' : 'expand_more' }}</mat-icon>
                              </button>
                          </mat-cell>
                      </ng-container>

                      <!-- Fila expandida con detalles del producto -->
                      <ng-container matColumnDef="expandedDetail">
                          <mat-cell *matCellDef="let venta" [attr.colspan]="displayedColumns.length">
                              <div *ngIf="expandedElement === venta">
                                  <mat-divider></mat-divider>
                                  <div class="expanded-row">
                                      <!-- Tabla de detalles del producto -->
                                      <table mat-table [dataSource]="venta.detalleVenta" class="sub-table">

                                          <!-- Imagen del Producto -->
                                          <ng-container matColumnDef="imgProducto">
                                              <mat-header-cell *matHeaderCellDef>IMAGEN</mat-header-cell>
                                              <mat-cell *matCellDef="let producto">
                                                  <img [src]="producto.imgProducto" class="img-thumbnail" />
                                              </mat-cell>
                                          </ng-container>

                                          <!-- ID del Producto -->
                                          <ng-container matColumnDef="idProducto">
                                              <mat-header-cell *matHeaderCellDef> ID DEL PRODUCTO </mat-header-cell>
                                              <mat-cell *matCellDef="let producto"> {{ producto.idProducto }} </mat-cell>
                                          </ng-container>

                                          <!-- Nombre del Producto -->
                                          <ng-container matColumnDef="nProducto">
                                              <mat-header-cell *matHeaderCellDef> NOMBRE DEL PRODUCTO </mat-header-cell>
                                              <mat-cell *matCellDef="let producto"> {{ producto.nombre }} </mat-cell>
                                          </ng-container>

                                          <!-- Cantidad -->
                                          <ng-container matColumnDef="cantidad">
                                              <mat-header-cell *matHeaderCellDef> CANTIDAD </mat-header-cell>
                                              <mat-cell *matCellDef="let producto"> {{ producto.cantidad }} </mat-cell>
                                          </ng-container>

                                          <!-- Subtotal -->
                                          <ng-container matColumnDef="subtotalVenta">
                                              <mat-header-cell *matHeaderCellDef> SUBTOTAL </mat-header-cell>
                                              <mat-cell *matCellDef="let producto"> ${{ producto.subTotal | number:'1.2-2':'es-AR' }} </mat-cell>
                                          </ng-container>

                                          <mat-header-row *matHeaderRowDef="productColumns"></mat-header-row>
                                          <mat-row *matRowDef="let row; columns: productColumns"></mat-row>

                                      </table>
                                  </div>
                              </div>
                          </mat-cell>
                      </ng-container>

                      <!-- Header y Row Definitions -->
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"></mat-row>
                      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>

                  </mat-table>

                  <h6 *ngIf="ventas.length === 0" class="alert alert-secondary text-center">
                      No se encuentran ventas para mostrar, realice una nueva búsqueda.
                  </h6>

                  <mat-paginator *ngIf="ventas.length > 0" [length]="ventas.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
          </div>
      </mat-card-content>
  </mat-card>
</div>
