:host {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

mat-drawer-container {
  min-height: calc(100vh - 64px) !important;
  background-color: var(--bg-drawer);
}

.offSidebar {
  width: 60px;
}

.drawer {
  min-height: calc(100vh - 64px) !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background-color: var(--bg-drawer);
}

.mat-drawer-side {
  border-right-color: var(--border-color-nav) !important;
}

.drawer .mat-card {
  background-color: var(--bg-card) !important;
}
