<app-header (toggleSideBarForMe)="sideBarToggler($event)" (toggleThemeEmmiter)="toggleTheme($event)"></app-header>
<mat-drawer-container>
  <mat-drawer mode="side" class="mat-elevation-z9 onSidebar" [opened]="sideBarOpen" position="start">
    <app-sidebar (toggleSideBarForMe)="sideBarToggler($event)" [darkMode]="darkMode"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="drawer" [class.dark-mode]="darkMode">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
