<!-- Formulario HTML -->
<div class="container py-3 col-xl-11">
  <br>
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <p class="titulo">{{esConsulta ? 'Consultar producto' : 'Registrar producto'}}</p>
      <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()">
        <mat-icon class="editar mb-3">edit</mat-icon>
      </button>
    </div>
  </div>


  <div class="row">
    <!-- Columna de Inputs -->
    <div class="col-md-9 p-2">
      <form [formGroup]="form">
        <mat-divider></mat-divider>
        <br>
        <!-- Nombre del producto y Código de Barras -->
        <div class="row pt-4">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Producto</mat-label>
              <input type="text" matInput [formControl]="txNombre"/>
              <mat-error *ngIf="txNombre.invalid">{{getErrorMessage(txNombre)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Código de Barras</mat-label>
              <input type="text" matInput [formControl]="txCodigoBarras" maxlength="13"/>
              <mat-error *ngIf="txCodigoBarras.invalid">{{getErrorMessage(txCodigoBarras)}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Tipo Producto, Marca, Proveedor -->
        <div class="row pt-4">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tipo Producto</mat-label>
              <input type="text" matInput [formControl]="txTipoProducto" [matAutocomplete]="autoCompleteTipoProducto"/>
              <mat-error *ngIf="txTipoProducto.invalid">{{getErrorMessage(txTipoProducto)}}</mat-error>
            </mat-form-field>
            <mat-autocomplete #autoCompleteTipoProducto="matAutocomplete">
              <mat-option *ngFor="let tipoProducto of tiposProductoFiltrados" [value]="tipoProducto.nombre">
                {{tipoProducto.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Marca</mat-label>
              <input type="text" matInput [formControl]="txMarca" [matAutocomplete]="autoCompleteMarca"/>
              <mat-error *ngIf="txMarca.invalid">{{getErrorMessage(txMarca)}}</mat-error>
            </mat-form-field>
            <mat-autocomplete #autoCompleteMarca="matAutocomplete">
              <mat-option *ngFor="let marca of marcasFiltradas" [value]="marca.nombre">
                {{marca.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Proveedor</mat-label>
              <mat-select [formControl]="txProveedor">
                <mat-option *ngFor="let proveedor of listaProveedores" [value]="proveedor.id">
                  {{proveedor.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="txProveedor.invalid">{{getErrorMessage(txProveedor)}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Descripción -->
        <div class="row pt-4">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Descripción</mat-label>
              <textarea matInput [formControl]="txDescripcion" rows="3"></textarea>
              <mat-error *ngIf="txDescripcion.invalid">{{getErrorMessage(txDescripcion)}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-divider></mat-divider>
        <br>

        <!-- Costo Base, Impuestos, Costo Final -->
        <div class="row pt-4">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Costo de Compra</mat-label>
              <input type="text" matInput [formControl]="txCosto" mask="separator.2" prefix="$" thousandSeparator="," />
              <mat-error *ngIf="txCosto.invalid">{{getErrorMessage(txCosto)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-1 d-flex align-items-center justify-content-center symbol-cost">
            <span>+</span>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Margen de Ganancia</mat-label>
                <input
                  type="text"
                  matInput
                  mask="percent.2"
                  suffix="%"
                  [formControl]="txMargenGanancia"/>
              <mat-error *ngIf="txMargenGanancia.invalid">{{getErrorMessage(txMargenGanancia)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-1 d-flex align-items-center justify-content-center symbol-cost">
            <span>=</span>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Precio sin IVA</mat-label>
              <input type="text" matInput [formControl]="txPrecioSinIva" mask="separator.2" prefix="$" thousandSeparator="," />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <!-- Columna de Subir Imagen -->
    <div class="col-md-3">
      <div class="upload-container d-flex align-items-center mb-2 mt-2"
           (dragover)="onDragOver($event)"
           (drop)="onDrop($event)"
           [ngClass]="{'disabled-container': data.formDesactivado}">
        <img *ngIf="productoImg" [src]="productoImg" class="preview-img">
        <span *ngIf="!productoImg" class="upload-text">Arrastra aquí...</span>
        <input type="file" class="file-input" [attr.disabled]="data.formDesactivado ? true : null" (change)="onFileSelected($event)">
      </div>
    </div>


    <!-- Precio con iva y descuento por promo -->
    <div class="row pt-4">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Precio con IVA</mat-label>
          <input type="text" matInput [formControl]="txPrecioConIva" mask="separator.2" prefix="$" thousandSeparator="," />
        </mat-form-field>
      </div>
      <div class="col-md-1 d-flex align-items-center justify-content-center symbol-cost" style="margin-top: -10px">
        <span>-</span>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Descuento por promoción</mat-label>
          <mat-select [formControl]="txProveedor">
            <mat-option *ngFor="let proveedor of listaProveedores" [value]="proveedor.id">
              {{proveedor.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="txProveedor.invalid">{{getErrorMessage(txProveedor)}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-1 d-flex align-items-center justify-content-center symbol-cost">
        <span>=</span>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Precio final de venta</mat-label>
          <input type="text" matInput [formControl]="txPrecioSinIva" mask="separator.2" prefix="$" thousandSeparator="," />
        </mat-form-field>
      </div>
    </div>

    <div class="row text-right">

      <!-- Btn de cancelar, registrar y modificar -->
      <div class="row text-right">
        <div class="col d-flex justify-content-end">
          <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
            {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
          </button>
          <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarProducto()" id="btnBuscar">Registrar</button>
          <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarProducto()" id="btnBuscar2">Modificar</button>
        </div>
      </div>

    </div>
    <br>
  </div>
</div>
