<div class="container py-3 col-xl-11">
  <br>
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <p class="titulo">{{esConsulta ? 'Consultar inventario' : 'Registrar producto en inventario'}}</p>
      <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()">
        <mat-icon class="editar">edit</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <br>
  <form [formGroup]="form">
    <div class="row pt-4">
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Producto</mat-label>
          <input matInput
                 placeholder="Producto"
                 [formControl]="txProducto"
                 [matAutocomplete]="autoCompleteProducto">
        </mat-form-field>
        <mat-autocomplete #autoCompleteProducto="matAutocomplete" (optionSelected)="enSeleccionDeProducto($event)">
          <mat-option *ngFor="let producto of this.productosFiltrados" [value]="producto.nombre" [id]="producto.id.toString()">
            {{ producto.nombre }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cantidad en Inventario</mat-label>
          <input type="text" matInput [formControl]="txCantidadEnInventario"/>
        </mat-form-field>
      </div>
    </div>
  </form>

  <mat-divider></mat-divider>
  <br>

  <!-- Btn de cancelar, registrar y modificar -->
  <div class="row text-right">
    <div class="col d-flex justify-content-end">
      <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
        {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
      </button>
      <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarDetalleProducto()" id="btnBuscar">Registrar</button>
      <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarDetalleProducto()" id="btnBuscar2">Modificar</button>
    </div>
  </div>

  <br>
</div>
