<div class="custom-dialo-calido" [class.dark-mode]="darkMode">
  <div class="container py-3 px-4 col-xl-12">
    <br>
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">{{esConsulta ? 'Consultar proveedor' : 'Registrar proveedor'}}</p>
        <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()">
          <mat-icon class="editar">edit</mat-icon>
        </button>
      </div>
    </div>

    <br>

    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de proveedor</mat-label>
            <mat-select [formControl]="txTipoProveedor">
              <mat-option *ngFor="let tipoProveedor of this.listaTiposProveedores" [value]="tipoProveedor.id">
                {{ tipoProveedor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txTipoProveedor"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput [formControl]="txNombre"/>
          </mat-form-field>
          <app-error-messages [control]="txNombre"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Teléfono</mat-label>
            <input type="text" matInput [formControl]="txTelefono"/>
          </mat-form-field>
          <app-error-messages [control]="txTelefono"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="txEmail"/>
          </mat-form-field>
          <app-error-messages [control]="txEmail"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>CUIT</mat-label>
            <input type="text" mask="00-00000000-0" matInput [formControl]="txCuit"/>
          </mat-form-field>
          <app-error-messages [control]="txCuit"></app-error-messages>
        </div>
      </div>

      <br>

      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Provincia</mat-label>
            <input matInput
                   placeholder="Ingrese"
                   [formControl]="txProvincia"
                   [matAutocomplete]="autoCompleteProvincia">
          </mat-form-field>
          <app-error-messages [control]="txProvincia"></app-error-messages>
          <mat-autocomplete #autoCompleteProvincia="matAutocomplete" (optionSelected)="seleccionarProvincia()">
            <mat-option *ngFor="let provincia of this.provinciasFiltradas" [value]="provincia.nombre">
              {{provincia.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Localidad</mat-label>
            <input matInput
                   placeholder="Ingrese"
                   [formControl]="txLocalidad"
                   (input)="filtrarLocalidades()"
                   [matAutocomplete]="autoCompleteLocalidad">
          </mat-form-field>
          <app-error-messages [control]="txLocalidad"></app-error-messages>
          <mat-autocomplete #autoCompleteLocalidad="matAutocomplete" (optionSelected)="seleccionarLocalidad()">
            <mat-option *ngFor="let localidad of this.localidadesFiltradas" [value]="localidad.nombre">
              {{localidad.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Calle</mat-label>
            <input type="text" matInput [formControl]="txCalle"/>
          </mat-form-field>
          <app-error-messages [control]="txCalle"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número</mat-label>
            <input type="text" matInput [formControl]="txNumero"/>
          </mat-form-field>
          <app-error-messages [control]="txNumero"></app-error-messages>
        </div>
      </div>
    </form>

    <mat-divider></mat-divider>
    <br>

    <!-- Btn de cancelar, registrar y modificar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
          {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
        </button>
        <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarProveedor()" id="btnBuscar">Registrar</button>
        <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarProveedor()" id="btnBuscar2">Modificar</button>
      </div>
    </div>

    <br>
  </div>
</div>
