<div class="container py-3 px-4 col-xl-12" [class.dark-mode]="darkMode">
  <br>
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <p class="titulo">{{esConsulta ? 'Consultar Cuenta Corriente' : 'Registrar Cuenta Corriente'}}</p>
      <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()" [appRole]="['Administrador', 'Cajero', 'Encargado']">
        <mat-icon class="editar">edit</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <br>
  <form [formGroup]="form">
    <div class="row pt-4">
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="txCliente" >
            <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.id">
              {{ '(' + cliente.id + ') ' + cliente.nombre + ' ' + cliente.apellido}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-error-messages [control]="txCliente"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha de creación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="txCreada" placeholder="Creada" [min]="fechaHoy" [max]="fechaHoy">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <app-error-messages [control]="txCreada"></app-error-messages>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Debe</mat-label>
          <input
            matInput
            formControlName="txDebe"
            type="text"
            mask="separator.2"
            prefix="$ "
            thousandSeparator=","
            [allowNegativeNumbers]="true"
          />
        </mat-form-field>
        <app-error-messages [control]="txDebe"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Haber</mat-label>
          <input
            matInput
            formControlName="txHaber"
            type="text"
            mask="separator.2"
            prefix="$ "
            thousandSeparator=","
            [allowNegativeNumbers]="true"
          />
        </mat-form-field>
        <app-error-messages [control]="txHaber"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Saldo general</mat-label>
          <input
            matInput
            formControlName="txBalance"
            type="text"
            mask="separator.2"
            prefix="$ "
            thousandSeparator=","
            [allowNegativeNumbers]="true"
          />
        </mat-form-field>
        <app-error-messages [control]="txBalance"></app-error-messages>
      </div>
    </div>

    <mat-divider class="my-3" *ngIf="!esRegistro"></mat-divider>
    <br *ngIf="ventas.length == 0 && !esRegistro">

    <!-- loading -->
    <div class="spinner-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="row pt-4" *ngIf="ventas.length > 0 && !esRegistro">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de venta</mat-label>
          <input type="text" matInput [formControl]="txBuscar"/>
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <app-error-messages [control]="txBuscar"></app-error-messages>
      </div>
    </div>

    <br *ngIf="ventas.length > 0">

    <mat-card [hidden]="!(ventas.length > 0)">
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <mat-table [dataSource]="tableDataSource" matSort class="custom-table" [class.disabled-table]="formDesactivado || listaVentasDeshabilitada">

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>VENTA</mat-header-cell>
                <mat-cell *matCellDef="let venta">{{ venta.id }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="montoTotal">
                <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</mat-header-cell>
                <mat-cell *matCellDef="let venta">
                  $ {{ venta.montoTotal | number:'1.2-2':'es-AR' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="saldoDisponible">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SALDO DISP</mat-header-cell>
                <mat-cell *matCellDef="let venta">
                  {{ venta.saldoDisponible != null && true
                  ? ('$ ' + (venta.saldoDisponible | number:'1.2-2':'es-AR'))
                  : 'No aplica' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                <mat-cell *matCellDef="let venta">{{ venta.fecha | date: 'dd/MM/yyyy' }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="formaDePago">
                <mat-header-cell *matHeaderCellDef>FORMA DE PAGO</mat-header-cell>
                <mat-cell *matCellDef="let venta">
                  {{ venta.formaDePago?.nombre }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef>ESTADO</mat-header-cell>
                <mat-cell *matCellDef="let venta">
                  {{ venta.canceladaConSaldo === 1 ? 'Cancelada con saldo' : (venta.fechaAnulacion ? 'Anulada' : 'No facturada') }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="productos">
                <mat-header-cell *matHeaderCellDef>PRODUCTOS</mat-header-cell>
                <mat-cell *matCellDef="let venta">
                  <div class="productos-container">
                    <ng-container *ngFor="let producto of venta.productos.slice(0, 3)">
                    <span class="producto-circulo" [matTooltip]="producto.nombre" (click)="verProducto(producto)">
                    <img [src]="producto.imgProducto" alt="Producto" class="producto-imagen">
                    </span>
                    </ng-container>
                    <span *ngIf="venta.productos.length > 3" matTooltip="{{ getNombresProductos(venta.productos) }}" class="mas-productos">
                        +{{ venta.productos.length - 3 }}
                  </span>
                  </div>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                <mat-cell *matCellDef="let venta" data-label="Acciones">
                  <button class="btn" mat-icon-button matTooltip="Ver" (click)="verVenta(venta)">
                    <mat-icon class="ver">visibility</mat-icon>
                  </button>
                  <button
                    *ngIf="venta.comprobanteAfip.comprobante_pdf_url == null && venta.anulada == 0 && venta.canceladaConSaldo === 0"
                    mat-icon-button
                    color="primary"
                    matTooltip="Facturar venta"
                    (click)="facturarVenta(venta)">
                    <mat-icon class="facturar">attach_money</mat-icon>
                  </button>
                  <div
                    matTooltip="{{ this.txHaber.value < venta.montoTotal ? 'Haber insuficiente para cancelar esta venta' : 'Cancelar total de venta con saldo' }}"
                    matTooltipShowDelay="100">
                    <button
                      *ngIf="venta.comprobanteAfip.comprobante_pdf_url == null && venta.anulada == 0 && venta.canceladaConSaldo === 0"
                      mat-icon-button
                      color="primary"
                      (click)="cancelarVenta(venta)"
                      [disabled]="this.txHaber.value < venta.montoTotal">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            <mat-paginator
                           [length]="this.ventas.length"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <h5 *ngIf="!isLoading && this.ventas.length === 0" class="alert alert-secondary text-center">
      No se encuentran ventas de cuenta corriente de este cliente para mostrar.
    </h5>
  </form>

  <p class="leyenda" *ngIf="tieneAccionesPendientes">
    <br>
    ⚠ Esta cuenta posee ventas en estado pendiente (no facturadas o no canceladas con saldo de cuenta corriente) que deben atenderse.
  </p>

  <mat-divider class="my-3"></mat-divider>

  <!-- Btn de cancelar, registrar y modificar -->
  <div class="row text-right">
    <div class="col d-flex justify-content-end">
      <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
        {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
      </button>
      <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarCuentaCorriente()" id="btnBuscar">Registrar</button>
      <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarCuentaCorriente()" id="btnBuscar2">Modificar</button>
    </div>
  </div>

  <br>
</div>
