.productos-container {
  display: flex;
  align-items: center;
}

.producto-circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 4px;
  position: relative;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}

.producto-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mas-productos {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

.disabled-table {
  pointer-events: none; /* Evita la interacción */
  opacity: 0.6; /* Apariencia deshabilitada */
  background-color: #f9f9f9; /* Fondo más claro */
  border: 1px solid #ddd; /* Añade un borde claro */
  border-radius: 5px; /* Redondea los bordes */
  min-width: 400px; /* Ancho mínimo para la tabla */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

.custom-table {
  width: 100%;
  border-collapse: collapse; /* Quita espacios entre celdas */
}

.custom-table th, .custom-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; /* Borde para celdas */
}

.custom-table th {
  background-color: #f4f4f4; /* Fondo de encabezados */
  font-weight: bold;
}

@media (max-width: 992px) {
  .custom-table {
    width: 100%;
    overflow-x: auto;  /* Habilitar el desplazamiento en pantallas medianas */
  }
  .btn-registrar {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .disabled-table {
    min-width: 100%; /* Asegura que ocupe todo el ancho en móviles */
    font-size: 12px; /* Reduce el tamaño de fuente */
  }

  .custom-table th, .custom-table td {
    padding: 6px; /* Reduce el espacio entre celdas */
  }
}

h3 {
  color: #5e5e5e;
}

button.button-pay[disabled],
button.button-return[disabled] {
  opacity: 0.5;
  pointer-events: auto;
}

button.button-pay[disabled]:hover,
button.button-return[disabled]:hover {
  pointer-events: auto;
}
