<div class="custom-dialo-calido" [class.dark-mode]="darkMode">
<div class="container py-3 px-4 col-xl-12">
  <br>
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <p class="titulo">{{esConsulta ? 'Consultar Cuenta Corriente' : 'Registrar Cuenta Corriente'}}</p>
      <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()" [appRole]="['Administrador', 'Cajero', 'Encargado']">
        <mat-icon class="editar">edit</mat-icon>
      </button>
    </div>
  </div>

  <form [formGroup]="form">

    <br>
    <h3>Datos generales:</h3>
    <mat-divider></mat-divider>

    <div class="row pt-4">
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="txCliente" >
            <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.id">
              {{ '(' + cliente.id + ') ' + cliente.nombre + ' ' + cliente.apellido}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-error-messages [control]="txCliente"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha de creación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="txCreada" placeholder="Creada" [min]="fechaHoy" [max]="fechaHoy">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <app-error-messages [control]="txCreada"></app-error-messages>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>El cliente adeuda</mat-label>
          <input
            matInput
            formControlName="txDebe"
            type="text"
            mask="separator.2"
            prefix="$ "
            thousandSeparator=","
            [allowNegativeNumbers]="false"
          />
        </mat-form-field>
        <app-error-messages [control]="txDebe"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>El cliente pagó</mat-label>
          <input
            matInput
            formControlName="txHaber"
            type="text"
            mask="separator.2"
            [prefix]="(txHaber.value || 0) > 0 ? '-$ ' : '$ '"
            thousandSeparator=","
            [allowNegativeNumbers]="true"
          />
        </mat-form-field>
        <app-error-messages [control]="txHaber"></app-error-messages>
      </div>

      <div class="col-md">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>
            {{
              (!txDebe.value && !txHaber.value)
                ? 'Saldo general'
                : (Math.abs(txDebe.value || 0) > Math.abs(txHaber.value || 0))
                  ? 'Saldo a favor del negocio'
                  : 'Saldo a favor del cliente'
            }}
          </mat-label>
          <input
            matInput
            formControlName="txBalance"
            type="text"
            mask="separator.2"
            [prefix]="(Math.abs(txDebe.value || 0) >= Math.abs(txHaber.value || 0)) ? '$ ' : '-$ '"
            thousandSeparator=","
            [allowNegativeNumbers]="false"
          />
        </mat-form-field>
        <app-error-messages [control]="txBalance"></app-error-messages>
      </div>
    </div>

    <br *ngIf="this.movimientosCuentaCorriente.length > 0">
    <h3 *ngIf="this.movimientosCuentaCorriente.length > 0">Movimientos de la cuenta:</h3>

    <mat-divider class="my-3"></mat-divider>
    <br *ngIf="movimientosCuentaCorriente.length == 0 && !esRegistro">

    <!-- loading -->
    <div class="spinner-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="row pt-4" *ngIf="movimientosCuentaCorriente.length > 0 && !esRegistro">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de venta</mat-label>
          <input type="text" matInput [formControl]="txBuscar"/>
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <app-error-messages [control]="txBuscar"></app-error-messages>
      </div>
    </div>

    <br *ngIf="this.movimientosCuentaCorriente.length > 0">

    <mat-card [hidden]="!(movimientosCuentaCorriente.length > 0)">
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <mat-table [dataSource]="tableDataSourceMovimientos" matSort class="custom-table" [class.disabled-table]="formDesactivado || listaMovimientosDeshabilitada">

              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">{{ movimiento.fecha | date: 'dd/MM/yyyy HH:mm' }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="tipoMovimientoCuentaCorriente">
                <mat-header-cell *matHeaderCellDef>TIPO MOV</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">{{ movimiento.tipoMovimientoCuentaCorriente?.nombre }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="comprobante">
                <mat-header-cell *matHeaderCellDef mat-sort-header>COMPROBANTE</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">{{ movimiento.comprobante }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="idVenta">
                <mat-header-cell *matHeaderCellDef mat-sort-header>VENTA</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">{{ movimiento.idVenta }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="monto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">
                  $ {{ movimiento.monto | number:'1.2-2':'es-AR' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="formaDePago">
                <mat-header-cell *matHeaderCellDef>FORMA DE PAGO</mat-header-cell>
                <mat-cell *matCellDef="let movimiento">{{ movimiento.formaDePago?.nombre }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                <mat-cell *matCellDef="let movimiento" data-label="Acciones">
                  <button
                    *ngIf="movimiento.tipoMovimientoCuentaCorriente?.id == this.getTiposMovimientosCuentaCorrienteEnum.VENTA"
                    class="btn"
                    mat-icon-button
                    matTooltip="Pagar"
                    color="primary"
                    (click)="registrarMovimiento(movimiento)"
                    [appRole]="['Administrador', 'Cajero', 'Encargado']">
                    <mat-icon>check_circle_outline</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Eliminar" (click)="eliminarMovimiento(movimiento.id)" [appRole]="['Administrador', 'Cajero', 'Encargado']">
                    <mat-icon class="eliminar">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnasMovimientos"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnasMovimientos;"></mat-row>
            </mat-table>
            <mat-paginator
              [length]="this.movimientosCuentaCorriente.length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <h5 *ngIf="!isLoading && this.movimientosCuentaCorriente.length === 0" class="alert alert-secondary text-center">
      No se encuentran movimientos de cuenta corriente de este cliente para mostrar.
    </h5>
  </form>

  <mat-divider class="my-3"></mat-divider>

  <!-- Btn de cancelar, registrar y modificar -->
  <div class="row text-right">
    <div class="col d-flex justify-content-end">
      <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
        {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
      </button>
      <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarCuentaCorriente()" id="btnBuscar">Registrar</button>
      <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarCuentaCorriente()" id="btnBuscar2">Modificar</button>
    </div>
  </div>

  <br>
</div>
</div>
