#btnLoguearse {
  background-color: #ef7c5e;
  color: white;
}

#btnLoguearse:hover {
  background-color: #e15b35;
}

#btnRegistrarse {
  color: #e15b35;
}

.mat-card {
  min-width: 300px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}
