@import '@ctrl/ngx-emoji-mart/picker';


:root {
  --naranja-primario: #e15b35;
  --header-bg: #f5f5f5; /* Fondo del header para el tema claro */
  --header-color: #000000; /* Color del texto para el tema claro */
  --menu-bg: #ffffff; /* Fondo del menú para el tema claro */
  --menu-item-hover-bg: #efefef; /* Fondo de los ítems al hover (claro) */
  --menu-item-color: #000000; /* Color del texto del menú (claro) */
  --border-color-nav: #ddd;
  --bg-drawer: #fdfdfd;
  --bg-card: #fffff;
  --color-border-card: #fffff;
  --color-text-title: #575757;
  --color-title-item-card: #494949;
  --bg-hover-items-home: #f8f8f8;
  --mat-divider-color: #ddd;
  --mdc-outlined-button-outline-color: red;
  --button-hover: #e15b35;
  --boder-mat-card-calido: 0px;
  --color-input-text-box: #131313;
  --bg-seccion-generar-reporte: #fefefe;
  --title-generar-reporte: #333;
  --bg-hover-generar-reporte: #f1f0f0;
  --mat-table-row-item-outline-color: #ddd;
  --mdc-outlined-text-field-outline-color: #575757;
  --mdc-outlined-text-field-hover-outline-color: #353535;
}

.dark-mode {
  --naranja-primario: #e15b35;
  --header-bg: #2A2A3B; /* Fondo del header para el tema oscuro */
  --header-color: #EDEDED; /* Color del texto para el tema oscuro */
  --menu-bg: #3E3E4E; /* Fondo del menú para el tema oscuro */
  --menu-item-hover-bg: #5A5A6E; /* Fondo de los ítems al hover (oscuro) */
  --menu-item-color: #EDEDED; /* Color del texto del menú (oscuro) */
  --border-color-nav: #414141;
  --bg-drawer: #161621;
  --bg-card: #2A2A3B;
  --color-border-card: #3E3E4E;
  --color-text-title: #EDEDED;
  --color-title-item-card: #aeaeae;
  --bg-hover-items-home: #2e2e3c;
  --mat-divider-color: #414141;
  --mdc-outlined-button-outline-color: blue;
  --button-hover: #e15b35;
  --boder-mat-card-calido: 1px solid #414141;
  --color-input-text-box: #EDEDED;
  --bg-seccion-generar-reporte: #2a2a3b;
  --title-generar-reporte: #EDEDED;
  --bg-hover-generar-reporte: #2e2e42;
  --mat-table-row-item-outline-color: #3E3E4E;
  --mdc-outlined-text-field-outline-color: #EDEDED;
  --mdc-outlined-text-field-hover-outline-color: #fafafa;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

mat-card {
  background-color: var(--bg-card) !important;
  border: var(--boder-mat-card-calido) !important;
  color: var(--color-title-item-card) !important;
}

h2 {
  color: var(--color-text-title) !important;
}

h4 {
  color: var(--color-text-title) !important;
}

/* Change the border color
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border: 1px solid var(--color-text-title);
  border-radius: 5px;
}
*/

mat-label {
  color: var(--color-text-title) !important;
}

input {
  color: var(--color-input-text-box) !important;
}

mat-select {
  color: var(--color-input-text-box) !important;
}

mat-table {
  background-color: var(--bg-card) !important;
}

mat-header-row {
  color: var(--header-color) !important;
}

mat-row {
  color: var(--header-color) !important;
}

mat-paginator {
  background-color: var(--bg-card) !important;
  color: var(--header-color) !important;
}


.titulo {
  font-weight: 500;
  color: #e15b35;
  font-size: 26px;
}

.notify-success {
  --mat-mdc-snack-bar-button-color: #155724;
  --mdc-snackbar-container-color: #ccf4dc;
  --mdc-snackbar-supporting-text-color: #155724;
  --mat-snack-bar-button-color: #155724;
  --mdc-snackbar-supporting-text-weight: 800;
}

.notify-error {
  --mat-mdc-snack-bar-button-color: #571206;
  --mdc-snackbar-container-color: #edd3c3;
  --mdc-snackbar-supporting-text-color: #571206;
  --mat-snack-bar-button-color: #571206;
  --mdc-snackbar-supporting-text-weight: 800;
}

#btnLimpiarFiltro {
  color: #e15b35;
  margin-right: 1rem;
}

#btnBuscar, #btnBuscar2 {
  background-color: #e15b35;
  color: white;
}

.ver {
  color: #087ac3;
}

.editar {
  color: #686868;
}

.eliminar {
  color: #9f1212;
}

.detalle {
  color: black;
}

.imprimir {
  color: black;
}

.facturar {
  color: #0cb20f;
}

.col-md-3, .col-md-2 {
  min-width: 200px;
}

.lds-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #f18451;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  zoom: 0.6;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-floating-label {
  color: #f59f8a !important;
}

.custom-dialog-container {
  overflow: hidden;  /* Oculta el desbordamiento exterior */
}

.custom-dialog-container .mat-dialog-content {
  max-height: calc(85vh - 64px); /* Ajusta la altura del contenido para evitar solapamiento */
  overflow-y: auto;  /* Habilita la barra de desplazamiento vertical */
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .titulo {
    font-size: 1.6rem;
  }

  .mat-spinner {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
  }

  .mat-spinner {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 576px) {
  .titulo {
    font-size: 1.2rem;
  }

  .mat-spinner {
    width: 2rem;
    height: 2rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  border: 2px solid var(--color-border);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Responsive */
.custom-table {
  min-width: 400px;  /* Ancho mínimo para la tabla */
  overflow-x: auto;  /* Permitir scroll horizontal */
}

@media (max-width: 992px) {
  .custom-table {
    width: 100%;
    overflow-x: auto;  /* Habilitar el desplazamiento en pantallas medianas */

  }

  .mat-mdc-table mat-header-row.mat-mdc-header-row, .mat-mdc-table mat-row.mat-mdc-row, .mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .custom-table {
    width: 100%;
    min-width: 700px;  /* Reducimos el ancho mínimo en pantallas más pequeñas */
  }
  .custom-table th, .custom-table td {
    padding: 6px; /* Reduce el espacio entre celdas */
  }
}

.mat-column-acciones {
  min-width: 168px; /* Ajusta el tamaño para que no se corte el icono de borrar */
}

.botonR {
  margin-left: 1rem; /* Margen entre el título y el botón */
  padding: 0.5rem 1rem; /* Espacio dentro del botón */
}

.mat-card {
  min-width: 400px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}

.container {
  overflow-x: auto;
}

.form-emergente {
  min-width: 250px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
  overflow-y: auto;  /* Habilita la barra de desplazamiento vertical */

}

/* Fin Responsive */
