/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.titulo {
  font-weight: 500;
  color: #e15b35;
  font-size: 26px;
}

.notify-success {
  --mat-mdc-snack-bar-button-color: #155724;
  --mdc-snackbar-container-color: #ccf4dc;
  --mdc-snackbar-supporting-text-color: #155724;
  --mat-snack-bar-button-color: #155724;
  --mdc-snackbar-supporting-text-weight: 800;
}

.notify-error {
  --mat-mdc-snack-bar-button-color: #571206;
  --mdc-snackbar-container-color: #edd3c3;
  --mdc-snackbar-supporting-text-color: #571206;
  --mat-snack-bar-button-color: #571206;
  --mdc-snackbar-supporting-text-weight: 800;
}

#btnLimpiarFiltro {
  color: #e15b35;
  margin-right: 14px;
}

#btnBuscar {
  background-color: #e15b35;
  color: white;
}

.ver {
  color: #087ac3;
}

.editar {
  color: #686868;
}

.eliminar {
  color: #9f1212;
}

/* Change the border focused color
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__trailing{
  border-color: #ffbfb1 !important;
  color: #f59f8a !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-floating-label{
  color: #f59f8a!important;
}
*/

