
  <div class="container">
      <div class="row mt-4">
            <div class="col-md-6 mb-4">
            <div class="chart-box">
                <h3>Ventas totales por forma de pago</h3>
                <iframe src="https://grafanae-production.up.railway.app/d-solo/fe1otfwvr7if4b/home?from=1730466386616&to=1730487986616&timezone=browser&var-start_date=2024-10-29&var-end_date=2024-10-30&orgId=1&theme=light&panelId=11&__feature.dashboardSceneSolo" width="100%" height="300" frameborder="0"></iframe>
            </div>
            </div>
            <div class="col-md-6 mb-4">
            <div class="chart-box">
                <h3>Ventas por fecha y hora</h3>
                <iframe src="https://grafanae-production.up.railway.app/d-solo/fe1otfwvr7if4b/home?from=1728259200000&to=1730246400000&timezone=browser&var-start_date=2024-10-29&var-end_date=2024-10-30&tab=queries&orgId=1&theme=light&panelId=12&__feature.dashboardSceneSolo" width="100%" height="300" frameborder="0"></iframe>
            </div>
            </div>
        </div> 
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
            <div class="chart-box">
                <h5>Ranking de Ventas por Producto</h5>
                <iframe  src="https://grafanae-production.up.railway.app/d-solo/fe1otfwvr7if4b/new-dashboard?from=1730225126709&to=1730246726709&timezone=browser&orgId=1&theme=light&panelId=2&__feature.dashboardSceneSolo" width= "100%" height="300" frameborder="0"></iframe>
            </div>
            </div>
            <div class="col-md-6 mb-4">
            <div class="chart-box">
                <h5>Ranking de Ventas por Categoria</h5>
                <iframe  src="https://grafanae-production.up.railway.app/d-solo/fe1otfwvr7if4b/new-dashboard?from=1730225126709&to=1730246726709&timezone=browser&orgId=1&theme=light&panelId=7&__feature.dashboardSceneSolo" width="100%" height="300" frameborder="0"></iframe>
            </div>
            </div>
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
