mat-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  color: #494949;
  height: 250px;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: #575757;
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

