mat-card {
  border-radius: 0px;
  padding: 10px 15px;
  color: #494949;
  height: 250px;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: var(--color-text-title);
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

