<mat-card>
  <div class="col p-1">
    <div class="row">
      <h2>Ventas mensuales</h2>
    </div>

    <div class="spinner-wrapper" *ngIf="buscando">
      <mat-spinner></mat-spinner>
    </div>

    <div style="display: block; height: calc(100% - 50px);" *ngIf="ventasMesuales.length > 0 && !buscando">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
      >
      </canvas>
    </div>
  </div>
</mat-card>
