<div class="lds-spinner-wrapper" *ngIf="isSearchingConfiguration">
  <div class="lds-spinner">
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
  </div>
</div>

<div *ngIf="!isSearchingConfiguration" class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Configuración</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Información del Usuario Administrador</h4>

    <form [formGroup]="form">
      <!-- idUsuario y Nombre de Usuario -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ID Usuario</mat-label>
            <input type="text" matInput [formControl]="idUsuario"/>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de Usuario</mat-label>
            <input type="text" matInput [formControl]="nombreUsuario"/>
          </mat-form-field>
        </div>
      </div>

      <br>
      <h4 style="color: grey">Información del Comercio</h4>

      <!-- Razon Social y Domicilio Comercial -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Razón Social</mat-label>
            <input type="text" matInput [formControl]="razonSocial" />
          </mat-form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Provincia</mat-label>
            <input type="text" matInput [formControl]="provincia" />
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Localidad</mat-label>
            <input type="text" matInput [formControl]="ciudad" />
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código Postal</mat-label>
            <input type="text" matInput [formControl]="codigoPostal" />
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Calle</mat-label>
            <input type="text" matInput [formControl]="calle" />
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número</mat-label>
            <input type="text" matInput [formControl]="numero" />
          </mat-form-field>
        </div>
      </div>

      <!-- CUIT, Fecha de Inicio de Actividades y Condición IVA -->
      <div class="row pt-4">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>CUIT</mat-label>
            <input type="text" mask="00-00000000-0" matInput [formControl]="cuit" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Inicio de Actividades</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="fechaInicioActividades" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Condición frente al IVA</mat-label>
            <input type="text" matInput [formControl]="condicionIva" />
          </mat-form-field>
        </div>
      </div>

      <br>
      <h4 style="color: grey">Diseño de la interfaz de usuario</h4>

      <!-- Logo -->
      <div class="row pt-4">
        <div class="col-md-6">
          <div class="upload-container d-flex align-items-center mb-3"
               (dragover)="onDragOver($event)"
               (drop)="onDrop($event)"
          >
            <img *ngIf="logoUrl" [src]="logoUrl" class="preview-img">
            <span *ngIf="!logoUrl" class="upload-text">Arrastra aquí...</span>
            <input type="file" class="file-input" (change)="onFileSelected($event)">
          </div>
        </div>
      </div>

      <br><br>

      <h4 style="color: grey">Facturación de ventas</h4>
      <div class="row">
        <mat-checkbox [formControl]="facturacionAutomatica">Facturación automática</mat-checkbox>
      </div>
      <div class="row">
        <h5 style="margin-left: 10px">Esto significa que la facturación en AFIP de cada venta se realizará de manera automática después de realizarse.</h5>
      </div>

      <br><br>
      <h4 style="color: grey">Información Adicional</h4>

      <!-- Usuario de Instagram y Contraseña de Instagram -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Usuario de Instagram</mat-label>
            <input type="text" matInput [formControl]="usuarioInstagram" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña de Instagram</mat-label>
            <input type="password" matInput [formControl]="contrasenaInstagram" />
          </mat-form-field>
        </div>
      </div>
    </form>

    <br>
    <!-- Btn Guardar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-stroked-button color="warn" class="btn round" (click)="guardarConfiguracion()">Guardar</button>
      </div>
    </div>

    <!-- loading -->
    <div class="spinner-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>
